
<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<style>


</style>
	<head>
		<title>Triple Crown Car Dealership</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/javascripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Triple Crown <span class="icon fa-trophy"><span> <span>Car Dealership</span> </a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="#main">Welcome</a></li>
							<li class="submenu">
								<a href="/inventory">Inventory</a>
								<ul>
									<!--<li><a href="buick-results.html">Buick</a></li>-->
									<li class="submenu">
										<a href="/inventory">Buick</a>
										<ul>
											<li><a href="#">2015 Buick Enclave</a></li>
											<li><a href="#">2015 Buick Encore</a></li>
											<li><a href="#">2015 Buick LaCrosse</a></li>
											<li><a href="#">2015 Buick Regal</a></li>
											<li><a href="#">2015 Buick Verano</a></li>
											<li><a href="#">View All Buick Models</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="/inventory">Cadillac</a>
										<ul>
											<li><a href="#">2015 Cadillac ATS Sedan</a></li>
											<li><a href="#">2015 Cadillac ELR</a></li>
											<li><a href="#">2015 Cadillac XTS</a></li>
											<li><a href="#">2015 Cadillac CTS Sedan</a></li>
											<li><a href="#">2015 Cadillac Escalade</a></li>
											<li><a href="#">View All Cadillac Models</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="/inventory">Chevrolet</a>
										<ul>
											<li><a href="#">2015 Chevrolet Camaro</a></li>
											<li><a href="#">2015 Chevrolet Cruze</a></li>
											<li><a href="#">2015 Chevrolet Tahoe</a></li>
											<li><a href="#">2015 Chevrolet Cruze</a></li>
											<li><a href="#">2015 Chevrolet Volt</a></li>
											<li><a href="3">View All Chevrolet Models</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="/inventory">GMC</a>
										<ul>
											<li><a href="#">2015 GMC Sierra</a></li>
											<li><a href="#">2015 GMC Yukon</a></li>
											<li><a href="#">2015 GMC Terrain</a></li>
											<li><a href="#">2015 GMC Acadia</a></li>
											<li><a href="#">2015 GMC Canyon</a></li>
											<li><a href="#">View All GMC Models</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="submenu">
								<a href="/services">Services</a>
								<ul>
									<li><a href="/schedule-test">Schedule A Test Drive</a></li>
									<li><a href="/schedule-sales">Schedule A Service Appointment</a></li>
									<li><a href="/contact-us">View All Services Available</a></li>
								</ul>
							</li>
							<li><a href="/contact-us">Contact Us</a>
							<li><a href="/sign-up" class="button special">Sign Up</a></li>
							<li><a href="/login" class="button special">Log In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
			<!-- start! -->
			<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Triple<span class="icon fa-trophy">Crown <br />
								<!--<div>
									<header class="special container">
										
										</span>
									</header>
								</div>
								<p>. 

					.</p>-->Car Dealership
							</h2>
						</header>
						<!--<p>This is <strong>Twenty</strong>, a free
						<br />
						responsive template
						<br />
						by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
						<footer>
							<ul class="buttons vertical">
								<li><a href="/inventory" class="button fit scrolly">Search the Inventory</a></li>
								<li><a href="/services" class="button fit scrolly">View Our Other Services</a></li>
							</ul>
						</footer>

					</div>

				</section>
			<!-- END -->
				<!--start<section id="banner">

					
						comments".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).somments
					
					<div class="inner">

						<header>
							<h2>Triple Crown <br />Car Dealership</h2><br />
						</header>
						<p>This is a<span class="icon fa-trophy"></span> dealership</p>
						<br />
						<br />
						commented<img src="assets/another-trophy.png">commented
						<footer>
							<ul class="buttons vertical">
									<li><a href="/services" class="button fit scrolly">Search the inventory</a></li>
									<li><a href="/services" class="button fit scrolly">View our other services</a></li>
							</ul>
						</footer>

					</div>

				</section>-->

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-bar-chart-o"></span>
						<h2>Currently in our <strong>fifteenth</strong> year of business,
						<br />
						Triple Crown wants to be your next dealership.</h2>
						<!--<p>Turns out <strong>Twenty</strong> was the best I could come up with. Anyway, lame name aside,
						<br />
						it's minimally designed, fully responsive, built on HTML5/CSS3/<strong>skel</strong>,
						and, like all my stuff,
						<br />
						released for free under the <a href="http://html5up.net/license">Creative Commons Attribution 3.0</a> license. Have fun!</p>-->
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>Celebrate your American freedom from interest by purcahsing a brand-new <strong>Chevrolet Impala </strong> and receive 0% APR for <strong>72 months!</strong></h2>
									</header>
									<p>Only select vehicles can apply.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-arrow-down"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-arrow-down"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-flag"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-car"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-arrow-up"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-arrow-up"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h1>Next look at our <strong>new lineup</strong></h1>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="assets/pic01.jpg" alt="" /></a>
										<header>
											<h2>Buick</h2>
											<p>The Spirit of American Style.</p>
										</header>
										
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="assets/pic02.jpg" alt="" /></a>
										<header>
											<h2>GMC</h2>
											<p>We are Professional Grade.</p>
										</header>
										
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="assets/pic03.jpg" alt="" /></a>
										<header>
											<h2>Chevrolet</h2>
											<p>Find New Roads.</p>
										</header>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="assets/pic04.jpg" alt="" /></a>
										<header>
											<h2>Cadillac</h2>
											<p>The Standard of the World.</p>
										</header>
										
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<!--<section id="cta">

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
						<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button special">Take My Money</a></li>
							<li><a href="#" class="button">LOL Wut</a></li>
						</ul>
					</footer>

				</section>-->

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/jquery.min.js"></script>
			<script src="assets/jquery.dropotron.min.js"></script>
			<script src="assets/jquery.scrolly.min.js"></script>
			<script src="assets/jquery.scrollgress.min.js"></script>
			<script src="assets/skel.min.js"></script>
			<script src="assets/util.js"></script>
			<!--[if lte IE 8]><script src="assets/javascripts/ie/respond.min.js"></script><![endif]-->
			<script src="assets/main.js"></script>

	</body>
</html>