<% provide(:title, "Schedule Sales Appointment") %>
<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<style>
	.servicewrapper {
    max-width:520px;
    max-height:460px;
    position:relative;
}
#serviceh3 {
	position: absolute; 
  	top: 90px; 
  	left: 0; 
  	width: 100%;
}

.ArtistPic {
	opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    max-height: 100%;
    max-width:100%;
    width: auto;
    
}
.ArtistPic:hover {
	opacity: .650;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


</style>
	<head>
		
		<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					</span><h1 id="logo"><a href="/">Triple Crown <span class="icon fa-trophy"><span> Car Dealership</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/welcome">Welcome</a></li>
							<li class="submenu">
								<a href="#">Inventory</a>
								<ul>
									<li><a href="/inventory">Current Stock</a></li>
									<li><a href="/build">Design Your Own</a></li>
									<li><a href="/lineup">View the Lineup</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="/services">Services</a>
								<ul>
									<li><a href="/schedule-test">Test Drives</a></li>
									<li><a href="/schedule-sales">Sales Appointments</a></li>
									<li><a href="/services">View All</a></li>
								</ul>
							</li>
							<li><a href="/contact-us">Contact Us</a>
							<% if logged_in? %>
							<li class="submenu">
                  				<a href="#">My Account</a>
                  				<ul>
                   	 				<li><a href="/users">All Users</a></li>
					                <li><%= link_to "Profile", current_user %></li>
					                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
					                <li class="divider"></li>
					                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
					            </ul>
					        </li>
					        <% else %>
								<li><a href="/sign-up" class="button special">Sign Up</a></li>
								<li><a href="/login" class="button special">Log In</a></li>
							<% end %>
						</ul>
					</nav>
				</header>


			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-calendar"></span>
						<h2>Schedule A<strong> Sales Appointment</strong></h2>
						<h3>Enter Your Information</h3>
					</header>

					<!-- One -->
					<section class="wrapper style1 container special">
						<!-- START-->
						<header>
							<h4>Select A Salesperson</h4>
						</header>
						
						<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" id="myForm" method="POST">
							<input type=hidden name="oid" value="00D1a000000aSeq">
							<input type=hidden name="retURL" value="localhost:3000/thank-you">
							<div class="row">
								<div class="4u 12u(narrower)">
									<section>
										<header>
											<h2>James Fredericks</h2>
											<!--start-->
											<div class="servicewrapper">
										    	<label for="img1"><img class="ArtistPic" src="/assets/salesman1.jpg"/></label>
												<input type="radio" id="img1" name="salesperson" value="radio1" id="radio1"/>
											</div>
											<!--end-->
										</header>
										
										<footer>
											<!--<ul class="buttons">
												<li><a href="#" class="button small">Schedule One</a></li>
												</ul>-->
										</footer>
									</section>
								</div>
								<div class="4u 12u(narrower)">
									<section>
										<header>
											<h2>Jane Miller</h2>
											<!--start-->
											<div class="servicewrapper">
										    	<label for="img2"><img class="ArtistPic" src="/assets/salesman3.jpg"/></label>
												<input type="radio" id="img2" name="salesperson" value="radio2" id="radio2"/>
											</div>
											<!--end-->
										</header>
										
										<footer>
											<!--<ul class="buttons">
												<li><a href="#" class="button small">Schedule One</a></li>-->
											</ul>
										</footer>
									</section>
								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h2>Joe Hall</h2>
											<!--start-->
											<div class="servicewrapper">
										    	<label for="img3"><img class="ArtistPic" src="/assets/salesman2.jpg"/></label>
												<input type="radio" id="img3" name="salesperson" value="radio3" id="radio3"/>
											</div>
											<!--end-->
										</header>
										
										<footer>
											<!--<ul class="buttons">
												<li><a href="#" class="button small">Schedule One</a></li>
											</ul>-->
										</footer>
									</section>
								</div>
							</div>
							<label for="first_name"></label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" placeholder="First Name"/><br>
							<label for="last_name"></label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" placeholder="Last Name"/><br>
							<label for="email"></label><input  id="email" maxlength="80" name="email" size="20" type="text" placeholder="Email"/><br>
							<label for="mobile"></label><input  id="mobile" maxlength="40" name="mobile" size="20" type="text" placeholder="Mobile"/><br>
							<label for="date"></label><input id="date" name="date" type="date" /><br />
							<br />
							<input type="submit" class="special" value="Submit">
						</form>
					</section>
					<!-- Two -->
						<!--<section class="wrapper style4 container">

							commentContentcomment
								<div class="content">
									<section>
										comment<a href="#" class="image featured"><img src="assets/pic04.jpg" alt="" /></a>comment
										
									</section>
								</div>

						</section>-->

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>
		
		
		<!-- Scripts -->
			<script src="assets/jquery.min.js"></script>
			<script src="assets/jquery.dropotron.min.js"></script>
			<script src="assets/jquery.scrolly.min.js"></script>
			<script src="assets/jquery.scrollgress.min.js"></script>
			<script src="assets/skel.min.js"></script>
			<script src="assets/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/main.js"></script>

	</body>
</html>